body {
    background-color: black;
    
}

#dashboard-row {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

.entertainment-border {
    border-style: groove;
    border-color: lightskyblue !important;
    /* padding-top: 3%; */
    background: transparent;
}
#dashboard-row{
    border-color: darkgreen !important;
    border-width: 5px !important;
    text-align: center;
    height: 300px;
    width: 1150px;
    border-style: dotted !important;
}

.card {
    background: transparent;
    color: silver;
}

.list-group-item {
    background: transparent;
    color:lightgrey;
}

#time-watched-graphic {
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    /* position: absolute; */
    /* left: 50%;
    top: 30%; */
    /* transform: translate(-50%, -50%); */
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

#section-titles {
    padding-top: .5%;
    color: silver;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

